DATABASE_URL=postgresql+psycopg://user:password@host/dbname
SECRET_KEY=your_secret_key
ALGORITHM=HS256

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OPENAI_API_KEY=
GROQ_API_KEY=

RESEND_API_KEY=
FROM_EMAIL=noreply@yourdomain.com

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

FRONTEND_URL=http://localhost:5173
